:root{
    --white: #fffce8;
    --color: #4e3d6a;
    --accent: #cf626d;
}
html, body {
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */

}
body 
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--white);
    color: var(--color);
    margin:0;
    padding:0;
    border:0;
    gap:1em;

}


h3
{
    font-weight: normal;
}

img
{
    width:30%;
    height:30%;
}

p{
    margin:0px;
}
button
{
    background-color: var(--accent);
    color: var(--color);
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 75px;
    padding: 10px;
    border-radius: 12px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}



button i{
    pointer-events: none;
}
button:hover{
    top: -10px;
}
.heading
{
    text-align: center;

    
}

.options
{
    display:flex;
    align-self: center;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap:wrap;
    gap:2em;
    padding: 2em 1em 2em;

}

.results
{
    display:flex;
    flex: 3;
    gap:2em;
    padding:2em;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}

.options, .results, .player, .cpu, .score, .output{
    border-style: solid;
    border-width: thick;
    border-radius: 1em;
    border-color: var(--color);
}

.player, .cpu{
    display:flex;
    flex-direction: column;
    flex: 1;
    border-style: solid;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 7vw;
    padding: 5px;
    margin: 0;
    border-radius: 12px;
    gap:30px;
}

.player
{
    color: var(--accent);
}

.output
{
    padding: 20px;
    margin:1vh;
    text-align: center;
}

.score{
    padding: 10px;
    margin-bottom: 0.6vh;
}


#scoreProgress{
    width: 100%;
    background-color: var(--color);

}
#scoreBar{
    height:50px;
    background-color: var(--accent);
}
.view-image
{
    display:none;
}

.image
{
    display:none;
    flex: 1;
    flex-wrap: wrap;
    font-size: xx-small;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.source
{
    color: var(--color);
    text-align: center;
    font-size: x-small;
    font-weight:normal;
}

.footer
{
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size:medium;
    
}

.footer a{
    color: var(--accent);
    font-size: xx-large;
}